.container {
  max-width: 65rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  align-content: center;
}

.container2 {
  max-width: 40rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  align-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 8rem;
  height: 8rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerImage {
  width: 100px;
  height: 100px;
}